<!--DOCTYPE html -->
<html>


<body>
<h1> {{ title }}</h1>

{% for obj in object_list %}

<a href='/detail/{{obj.id}}'>{{obj.course_id}}</a></br>
{{obj.course_name}}</br>
{{obj.pre_req}}</br>
{{obj.quarter_ava }}</br>
{{obj.id}}</br>
</br><br>

{% endfor %}

 <!-- footer -->

  <div id="footer">
    <center><h5>DePaul University</h5></center>
    <center><h5>College of Computing and Digital Media </h5></center>
    <h5><p><center> Address: 243 South Wabash Avenue, Chicago, IL-60604 | &#9742: 312-362-8381</center></p></h5>
    <h5><p><center>Designed and built by Team 7 Copyright &copy; 2017-2018</center></p></h5>
</div>
</body>





</html>